.addNumbersDiv{
	width = 33.33%;
	height = 33.33%;
	background-color: black;
}

/*
* ===================================================NAV BAR STYLE BEGIN=======================
*/
.bg-hacks{
	background-color: /*#71a369;*/ rgba(128, 180, 122, 0.8);
}

.barLogo{
	background-color:black;
	float: left;
	height: 100%;
	width: 50px;
	color:white;
	margin-right: 20px;
}

.nav-item{
	background-color: white;
	margin: 2px;
}
/*
* ===================================================NAV BAR STYLE END=======================
*/


.makePageScroll{
	position: absolute;
	color: white;
	top: 500px;
	left: 300px;
	height: 100px;
	width: 100px;
	background-color: black;
}

.makePageScroll2{
	position: absolute;
	top: 2000px;
	left: 0px;
	height: 100px;
	width: 100px;
	background-color: black;
}