.addNumbersDiv{
	width = 33.33%;
	height = 33.33%;
	background-color: black;
}

/*
* ===================================================NAV BAR STYLE BEGIN=======================
*/
.bg-hacks{
	background-color: /*#71a369;*/ rgba(128, 180, 122, 0.8);
}

.barLogo{
	background-color: #262626;
	float: left;
	height: 100%;
	width: 240px;
	color:white;
	margin-right: 20px;
	overflow: hidden;
}

.nav-item{
	background-color: rgb(130, 233, 122);
	margin: 5px;
	transform: skew(-21deg);
}

.nav-item a{
	color: inherit;
	
	/*to make the text not slanted/skewed*/
	transform: skew(21deg);
}

.nav-item:hover{
	background-color: #4dff4d;
}

#profileDropLeft{
	background-color: #262626;
	
	/*to counter the skewing of the other nav-items(Home, Directions, etc.)*/
	transform: skew(0deg);
}

#profileDropLeft a{
	/*to counter the skewing of the other nav-items(Home, Directions, etc.)*/
	transform: skew(0deg);
}

/*sets profileName to white text*/
#navbarDropdown.nav-link{
	color:white;
}


.dropdown-menu{
	background-color: #262626;
	color: white;
}

.dropdown-menu a:hover{
	background-color: white;
	color: #262626;
}
/*
* ===================================================NAV BAR STYLE END=======================
*/


/*
*===================================================DIRECTIONS STYLE BEGIN=======================
*/
.directionsBody{
	background-color: #5a8754;
}

.directionsContent{
	background-color: white;
	position: relative;
	
	width: 30%;
	height: 550px;
	
	top: 130px;
	left: 35%;
	
	border-radius: 25px;
}

.directionsGoogleMaps{
	background-color: #262626;
	color:white;
	position:relative;
	margin: auto;
	
	width: 90%;
	height: 60%;
	top: 5%;
	
	text-align: center;
	
	border-radius: 25px;
}

.directionsAddress{
	background-color: #262626;
	color: white;
	position: relative;
	margin: auto;
	
	height: 25%;
	width: 90%;
	top: 10%;
	
	text-align: center;
	
	border-radius: 25px;
}

.directionsAddress span{
	position: relative;
	top: 20%;
}

/*
*===================================================DIRECTIONS STYLE END=======================
*/